# BubbleSort
Algorithms/BubbleSort/.vscode/settings.json
Algorithms/BubbleSort/build/*

# MovingAverage
Algorithms/MovingAverage/.vscode/settings.json
Algorithms/MovingAverage/build/*

# QuickSort
Algorithms/QuickSort/.vscode/settings.json
Algorithms/QuickSort/build/*

# Arbiter
Arbiter/*.layout
Arbiter/*.depend
Arbiter/bin/*
Arbiter/doxygen/html/*
Arbiter/obj/*

# BitmaskEnum
BitmaskEnum/.vscode/settings.json
BitmaskEnum/build/*

# ContiguousBuffer
ContiguousBuffer/.vscode/settings.json
ContiguousBuffer/build/*

# Ringbuffer
Ringbuffer/.vscode/settings.json
Ringbuffer/build/*

# Sawtooth
Sawtooth/.vscode/settings.json
Sawtooth/build/*

# SlimAssert
SlimAssert/.vscode/settings.json
SlimAssert/build/*

# SoftTimer
SoftTimer/.vscode/settings.json
SoftTimer/build/*