# BubbleSort
Algorithms/BubbleSort/test/*.layout
Algorithms/BubbleSort/test/*.depend
Algorithms/BubbleSort/test/bin/*
Algorithms/BubbleSort/test/obj/*

# MovingAverage
Algorithms/MovingAverage/test/*.layout
Algorithms/MovingAverage/test/*.depend
Algorithms/MovingAverage/test/bin/*
Algorithms/MovingAverage/test/obj/*

# QuickSort
Algorithms/QuickSort/test/*.layout
Algorithms/QuickSort/test/*.depend
Algorithms/QuickSort/test/bin/*
Algorithms/QuickSort/test/obj/*

# Arbiter
Arbiter/*.layout
Arbiter/*.depend
Arbiter/bin/*
Arbiter/doxygen/html/*
Arbiter/obj/*

# BitmaskEnum
BitmaskEnum/test/*.layout
BitmaskEnum/test/*.depend
BitmaskEnum/test/bin/*
BitmaskEnum/test/obj/*

# ContiguousBuffer
ContiguousBuffer/test/*.layout
ContiguousBuffer/test/*.depend
ContiguousBuffer/test/bin/*
ContiguousBuffer/test/obj/*

# Ringbuffer
Ringbuffer/test/*.layout
Ringbuffer/test/*.depend
Ringbuffer/test/bin/*
Ringbuffer/test/obj/*

# SlimAssert
SlimAssert/test/*.layout
SlimAssert/test/*.depend
SlimAssert/test/bin/*
SlimAssert/test/obj/*